.cocktail-imgs {
    height: 300px;
    width: 300px;
}

.modal-container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.modal-container .card {
    margin: 30vh auto auto auto;
    width: fit-content;
    border-radius: 20px;
}

.hide {
    display: none;
}

html {
    height: 100%;
}
  
body {
       /* The image used */
    background-image: url("../images/cliomakeup-apericena-apericena-1 (2).jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.nav-wrapper{
    background: rgba(255, 228, 196, 1);
    text-align: center;
    

}
.nav-wrapper a {
    color: black;
    font-size: 35px;

}
.textContent {

    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: left;
    
}
.a {
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    background: rgba(255, 228, 196, .5);
    /* background-color: bisque; */
    /* opacity: 50%;      */

}
.b {
    text-shadow: 2px 2px 5px red;
    font-size: 40px;
    background-color: rgb(233, 216, 196);
    opacity: 50%;     

}
.brand-logo{
    text-shadow: 2px 2px 5px red;
    color: black;
}
#search-button {
    background-color: rgb(98, 240, 129);
    color: black;
}
#bev-search-btn {
    background-color: rgb(98, 240, 129);
    color: black;
}

.ingredient-measure-container {
    display: flex;
}

.ingredient-container {
    padding-inline-end: 15px;
}

/* .cocktail-card-body {
    padding: 20px;
} */

.close:hover {
    background-color: #cc0000;
    color: white;
    transition: ease-in-out ;
}