.cocktail-imgs {
    height: 300px;
    width: 300px;
}

.modal-container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.modal-container .card {
    margin: 30vh auto auto auto;
    width: fit-content;
}

.hide {
    display: none;
}
.textContent {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
    text-align: left;
     
}
.b {
    text-shadow: 2px 2px 5px red;
    font-size: 30px;

}
.brand-logo{
    text-shadow: 2px 2px 5px red;
}
